@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf");
  }

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    overflow-x: hidden;
}
.row{
    margin: 0px;
    padding: 0px;
}
img{
    width: 100%;
    height: auto;
}
p {
    letter-spacing: 0;
    line-height: 1.8;
}
.animated{
    animation-duration: 1.5s;
}
.section-header{
    color: #000;
    padding-bottom: 50px;
}
.scrollToTop {
    display: none; 
    background-color: #dfb40ba1;
    width: 44px;
    bottom: 105px;
    font-size: 29px;
    position: fixed;
    right: 76px;
    text-align: center;
    text-decoration: none;
    z-index: 9;
    border: 2px solid;
    color: #fff;
}
.scrollToTop:hover{
    color: #FFF;
    background-color: #dfb40b;
    margin-bottom: 2px;
}
.services .fa{
    color: #343a40;
}



/******** HOME ********/
.canvas {
    background: #252934;
  }
  .canvas {
    background: url("../img/filler.png") center center/cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
  }

.home{
    color: #fff;
    height: 100vh;
    padding: 0 10px;
}
.home-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    font-family: "Raleway";
    top: 40vh;
}
.home-txt p{
    font-size: 32pt;
    line-height: 36pt;
    text-align: center;
}
.home-txt p span{
    color: #d8257b;
}
.btn-contact{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0;
    letter-spacing: .15em;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 9px 21px;
}
.btn-contact:hover{
    color: #fff;
    margin-top: 19px;
    box-shadow: 1px 8px 7px #853c66;
}


/******** NAV *********/
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mdi {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transform: translate(0px, 0px);
    font: normal normal normal normal normal normal normal 1 "Material Design Icons";
}


.site-nav{
    position: absolute ;
}
.page-link:hover {
    background-color: #1b242f;
}
.main-nav {
    bottom: 0;
    left: 0;
    position: absolute;
    background: #1b242f;
    color: #fff;
    border-bottom: 3px solid #04c2c9;
    height: 50px;
    text-align: left;
    width: 100%;
    z-index: 99;
  }
  nav.fixed {
    bottom: inherit;
    left: 0;
    position: fixed;
    top: 0;
  }
  .site-nav .nav-link {
    color: #fff !important;
    font-size: 19px;
    text-transform: uppercase;
  }
  .page-link {
    cursor: pointer;
    line-height: 1.25;
    color: #fff;
    background: none;
    border: none;
}
  nav.fixed.desk {
    animation: popDown 0.5s;
  }
  nav .link-wrap {
    background: #333;
    height: 0;
    max-width: 1200px;
    overflow: hidden;
    position: absolute;
    top: 53px;
    transition: height 0.3s ease-out;
    width: 100%;
  }
  nav .link-wrap.visible {
    height: 220px;
  }
  nav .link-wrap div {
    cursor: pointer;
    font-size: 12pt;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: color 0.5s;
  }
  nav .link-wrap div:first-child {
    padding: 25px 20px 12px 20px;
  }
  nav .link-wrap div:hover {
    color: #e31b6d;
    background-color: unset;
  }
  nav .mdi-menu {
    font-size: 30pt;
    line-height: 36pt;
    margin: auto 0;
    position: absolute;
    right: 5vw;
    top: 0;
  }
  nav .nav-link {
    color: #fff !important;
    text-transform: uppercase;
  }
  .page-link .nav-link:hover {
    color: #ffc107  !important;
  }
  @media screen and (min-width: 600px){
    nav .link-wrap {
        background: none;
        height: initial;
        overflow: visible;
        position: initial;
        text-align: left;
    }
    nav .link-wrap div:first-child {
        padding: 0;
    }
    nav .link-wrap div {
        display: inline;
        font-size: initial;
        margin: 0 20px;
        padding: initial;
    }
  }

  .services{background-color: #dddddd6e;}
  
/******* ABOUT **********/

.about{
    background-color: #fff0;
    padding: 0px 0px 80px 0px;
    height: 100%;
}
.section-header h2{
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;
}
.section-header h2 span{
    border-bottom: solid 3px #8e1550;
    padding: 5px 0;
}
.my-info{
    padding: 100px 100px 0px;
    padding-top: 50px;
}
.my-info p{
    font-stretch: semi-condensed;
   
    font-size: 1.2em;
}
.cv-btn {
    background: #fff;
    padding: 10px 15px;
    color: #af232f;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid;
}
.cv-btn i {
    color: #000000;
    margin-right: 10px;
}
.cv-btn:hover{
    background: #952443;
    color: #fff;
    text-decoration: none;
    
}
.about img{
    min-height: 300px;
    border-radius: 3%;
    
}
.about h4 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.progress-bar{
    background-color:#8e1550b3;
}


/*********** SERVICES **********/


.srevice{
    text-align: center;
    margin: 5px -10px;
}
.srevice h3{
    font-weight: bold;
    color: #000000bf;
}
.srevice p {
    color: #000;
    width: 80%;
    margin: auto;
}

/************* SKILLS *********/

.skills{
    background-image: url(../img/coding.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.skills .overlay {
    background-color: #000000c8;
    padding: 80px 0px;
}
.skills-text{
    color: #ddd;
    letter-spacing: .1em;
    line-height: 2;
    font-size: 20px;
    font-family: serif;
    text-align: justify;

}
.skills .section-header h2{
    color: #fff;
}
.progress-circle {
    width: 70px;
    height: 70px;
}
.progress-circle {
    position: relative;
    display: inline-block;
    margin: 1rem;
}
.progress-circle span {
    font-size: 1rem;
    color: #8b8b8b;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
}   
.progress-circle span {
    font-size: 15px;
    color: #ffffff;
    background: #000000;
}
.progress-circle span:after {
    content: "%";
    font-weight: 600;
    color: #8b8b8b;
}
.progress-circle span::after {
    color: #ffffff;
}
.progress-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: colorload 2s;
    animation: colorload 2s;
}
.progress-circle.progress-90::after {
    background-image: linear-gradient(54deg, #F1C40F 50%, transparent 50%, transparent), 
    linear-gradient(270deg, #F1C40F 50%, #ebebeb 50%, #ebebeb);
}
.programming-skills{
    height: auto;
}
.programming-skills h4 {
    font-size: 14px;
    color: #ffffff;
}
.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 10px;
    z-index: 1;
}
.skillbar-title {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    position: relative;
    top: 28px;
    width: 450px;
    padding-left: 17px;
    height: 28px;
    line-height: 2em;
}
.skills-bars{
    margin-top: -23px;
}
.skill-bar-percent {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    height: 28px;
    border-radius: 0;
}
.skillbar-bar {
    height: 5px;
    width: 0;
    background: #F1C40F;
    transition-property: width, background-color;
}
.skillbar-bar::before {
    background: #ffffff !important;
    content: "";
    height: 5px;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.skills-bars .skillbar .skill-bar-percent span{
    position: absolute;
    right: 7px;
    color: #000;
}
.morinfo{
    margin: 18px 0 0;
}

/*************** LATEST PROJECTS ***********/

.latest-projects{
    padding: 80px 0px;
    height: 100%;
}
.project {
    width: 100%;
    margin-right: 35px;
    margin-bottom: 35px;
    overflow: hidden;
    display: block;
    position: relative;
}
.project .mask {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background:#a70547cc;
    opacity: 0;
    z-index: 9;
    color:#fff;
    text-align: center;
    transition: all .9s ease;
}
.mask .info{
    transition: all .35s ease;
}

.btn-see-project{
    display: inline-block;
    margin-top: 30px;
    border: 1px solid#fff;
    padding: 9px 16px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    color: #FFF;
}
.btn-see-project:hover{
    color: #fff;
    background-color: #880038;
    cursor: pointer;

}
.project-pic {
    display: block;
    background-size: cover;
    background-position: center center;
    height: 280px;
    width: 100%;
    float: left;
    transition: all 1s ease;
}
.project:hover .mask {
    opacity:1
   }
.project:hover .project-pic {
    transform:scale3d(1.1,1.1,1.1)
   }
.mask h3 {
    margin-top: 70px;
    font-size: 23px;
    font-weight: 501;
   }
.project .mask p {
    letter-spacing: 1px;
    line-height: 1.5em;
    width: 90%;
    margin: auto;
    color: #fff;
    padding: 10px 0;
   }
.project-pager{
    margin-top: 80px;
}
.page-item.active .page-link{
    background-color: #f1c40f;
    border-color: #f1c40f;
}



/********* Quotaion *********/

.quotaion{
    background-image: url(../img/02.jpg);
    color: #fff;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.quotaion .overlay{
    background-color:  #000000c4;
}
.qutation-content{
    margin: 120px 0;
    padding: 26px 0 0;
}
.qutation-content h2{
    line-height: 1.6em;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: .09em;
}
.quotaion p {
    color: #ffffff;
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 16px;
}
.quotaion p::before {
    content: '---';
    padding-right: 10px;
}
.quotaion p::after {
    content: '---';
    padding-left: 10px;
}

/******** CONTACT ******/

.contact{
    padding: 80px 0px;
    height: 100%;
    animation-duration: 3s;
}
.form-content{
    width:80% ;
    margin: auto;
}
.form-control:focus{
    box-shadow:0 0 0 3px #e320433b
}
.form-content .form-control{
    border: 1px solid #e32043;
    border-radius: 0%;
}
.form-control, .btn-send{
    font-style: italic;
    font-family: revert;
}
.form-content .textarea {
    height: 200px;
}
.form-content button{
    letter-spacing: .06em;
    text-transform: uppercase;
    padding: 3px 20px;
    font-size: 18px;
    background: #fff;
    color: #e32043;
    width: 100%;
    border: 1px solid;
}
.btn-send:active{
    background-color: #b80a5f !important;
    border-color: #b80a5f !important;
}
.btn-send:focus{
    box-shadow: 0 0 0 0.2rem #b80a5f !important;
}
.form-content .btn-send:hover{
    background-color: #b80a5f;
    border-color: #e32043;
    color: #fff;
}

/************* FOOTER ********/

.footer{
    background-color: #0b0c22;
    color: #eee;
}
.footer-content{
    width: 100%;
    padding:10px 0 ;
}
.footer p {
    display: inline;
}


/********** Media ******/

.navbar-dark .navbar-toggler{
    margin-left: 30px;
}

@media(max-width:992px){
    .name-text{
        font-size: 2.8em;
    }
    .card h3{
        font-size: 1.4em;
    }
    .btn-contact{
        padding: 8px 16px;
    }
    .about p{
        line-height: 1.5;
        margin-top: -20px;
        padding: 20px 0;
    }
    .cv-btn{
        margin: 0;
        padding: 6px 10px;
        border-radius: 4px
    }
    .section-header{
        padding: 32px;
    }
    .section-header h2{
        font-size: 30px;
    }
    .qutation-content{
        margin: 0;
    }
    .qutation-content h2{
        line-height: 1.3em;
        letter-spacing: .05em;
        font-size: 28px;
    }
}

@media(max-width:768px){
    .navbar-nav {
        background: #121c29;
        padding-top: 10px;
    }
    .home-txt p {
        font-size: 20pt;
    }
    .my-info{
        padding: 0;
    }
    .about img{
        height: 377px;
        width: 392px;
    }
    .language-skills h2, .programming-skills h2{
        margin: 21px 0 10px;
    }
    .footer-content{
        padding: 5px 0;
    }
    .footer-content p{
        display: block;
        text-align: center;
    }
}
@media(max-width:576px){
    .copy-right{padding-top: 0px !important;
        text-align: center !important;}
    .name-text{
        font-size: 2.1em;
    }
    .card h3{
        font-size: 1.7em;
        margin-top: 20px;
        margin-bottom: 31px;
    }
    .card h3 span{
        display: flex;
    }
    .btn-contact{
        margin: 10px 0;
    }
    .about{
        padding-bottom: 0;
    }
    .about img{
        width: auto;
      
    }
    .home .card{
        width: 100%;
        left: 0px;
    }
    .latest-projects {
        padding: 12px 0px;
    }
    .form-content{
        width: 100%;
    }
    .qutation-content h2{
        font-size: 20px;
    }
    .quotaion p{
        font-size: 14px;
    }
    .contact {
        padding: 80px 0px;
    }
    .skills-bars .skillbar .skill-bar-percent span {
        position: relative;
        right: -2px;
        color: #000000e8;
    }
}