.p-header{
margin: 50px 0;
text-align: center;
}
.p-header h2{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.main-img{
    border: 1px solid #ddd;
    box-shadow: 0px 0px 14px 4px #b0a9a9;
    margin-bottom: 100px;
}
.img-desc p{
    font-size: 17px;
    width: 66%;
    margin: auto;
    line-height: 30px;
    text-align: justify;
    color: #555;
    margin-bottom: 86px;
    font-weight: 300;
    font-family: Georgia,Merriweather,Arial;
}
.p-imgs{
    display: flex;
}
.p-imgs img{
    border: 1px solid #ddd;
    box-shadow: 0px 0px 2px 2px #287e8833;
    margin: 10px 0;
}